<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "CraftsStore", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Shops", shops_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to cart_path, class: "nav-link position-relative" do %>
              <i class="bi bi-cart"></i> Cart
              <% if current_user.cart.cart_items.any? %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= current_user.cart.cart_items.sum(:quantity) %>
                </span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.shop.present? %>
                <li><%= link_to "My Shop", shop_path(current_user.shop), class: "dropdown-item" %></li>
                <li><%= link_to "Add Product", new_product_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
              <% else %>
                <li><%= link_to "Open a Shop", new_shop_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
              <% end %>
              <li><%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-start w-100", form: { data: { turbo: false } } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>